<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whatisjava.training">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
        Allows Glide to monitor connectivity status and restart failed requests if users go from a
        a disconnected to a connected network state.
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 打印相关权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".TrainingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".jetpack.paging.Paging3Activity"
            android:exported="false" />
        <activity
            android:name=".jetpack.navigation.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".jetpack.databinding.DataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".jetpack.viewmodel.ViewModelActivity"
            android:exported="false" />
        <activity
            android:name=".jetpack.livedata.LiveDataActivity"
            android:exported="false" />
        <activity
            android:name=".jetpack.lifecycle.LifeCycleActivity"
            android:exported="false" />
        <activity
            android:name=".mediaselect.MediaSelectActivity"
            android:exported="false" />
        <activity
            android:name=".room.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".textview.TextViewActivity"
            android:exported="false" />
        <activity
            android:name=".http.HttpActivity"
            android:exported="false" />
        <activity android:name=".storage.FileStorageActivity" />
        <activity android:name=".palette.PaletteActivity" />
        <activity android:name=".animation.DynamicAnimationActivity" />
        <activity
            android:name=".translucent.TranslucentActivity"
            android:theme="@style/AppTheme.Main" />
        <activity android:name=".printer.PrinterActivity" />
        <activity android:name=".recyclerview.GridLayoutActivity" />
        <activity android:name=".imageloader.ImageLoadActivity" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>